* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#colored-text {
    color: green;
}

.shadowed {
    background-color: white;
    margin: 24px;
    padding: 24px;
    box-shadow: 
        inset 0px 0px 16px red,
        0px 0px 16px red;
    border: 3px solid red;
    border-radius: 4px;
}

p {
    font-family: fantasy;
}