/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    background-color: yellow;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 24px;
    padding: 24px;
}