* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#span-1 {
    font-weight: bold;
    text-decoration: underline;
}

#span-2 {
    font-style: italic;
}

#paragraph-1 {
    font-size: 24px;
    text-align: center;
}

#anchor-1 {
    color: green;
    text-decoration: none;
}

#break-image {
    width: 100px;
   
}

#centered-image {
    text-align: center;
}