* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: lightgreen;
    padding: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.single-column img {
    width: 100%;
}