* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/floral.jpg");
    background-size: 400px;
}

.color-palette {
    box-shadow: 6px 6px 12px #000000AA;
    margin: 24px;
    padding: 24px;
    text-align: center;
    background-color: white;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-1 {
    background-color: #CEE5F2;
}

#color-2 {
    background-color: #ACCBE1;
}

#color-3 {
    background-color: #7C98B3;
}

#color-4 {
    background-color: #48639C;
    color: white;
}

#color-5 {
    background-color: #4C4C9D;
    color: white;
}

#color-6 {
    background-color: #712F79;
    color: white;
}

#color-7 {
    background-color: #976391;

}

#color-8 {
    background-color: #F7996E;
}